:root {
  --dynamic-color: rgb(255, 0, 0); /* Initial color */
  --dynamic-color-1: rgba(255, 0, 0, 0.08);
  --color1 : rgb(189, 255, 122);
  --color2:rgb(105, 138, 73);
  --cat-btn-txt:white;
  --cat-btn-bg:rgb(0, 0, 0);
  --cat-btn-h-txt:rgb(0, 0, 0);
  --cat-btn-h-bg:rgb(91, 91, 91);
  --cat-btn-a-txt:rgb(0, 0, 0);
  --cat-btn-a-bg:rgb(255, 255, 255);
}



.get-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
body{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

#root{
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}
header{
  margin: 0;
  position: fixed;
  top: 0;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: black;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}
.bot{
  display: none;
}
.sbot{
  display: flex;
  justify-content: center;
  /* margin-top: 10vh; */
}
.sbott{
  font-family: 'Sora', sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
.h1{
  display: flex;
  align-items: flex-end;
  height: 8vh;
  gap: 2vh;
  padding-left: 2vh;
}
.hicon{
  height: 7vh;
  width: 7vh;
}
.htext{
  font-family: 'Major Mono Display', monospace;
  font-size: 0.8em;
}
.slogan{
  display: flex;
  height: 8vh;
  align-items: flex-end;
  padding-bottom: 1vh;
  padding-right: 3vh;
}
.slogantext{
  font-family: 'Dancing Script', cursive; /* Cursive font for a handwritten feel */
  font-weight: 400; /* Regular weight to maintain elegance */
  color: #ffffffb2; /* Dark color for readability */

  font-size: 1.5em;
  letter-spacing: 0.5px; /* Slight spacing between letters */
}
.dlogan{
  display: none;
}


#yt-player{
  display: none;
}
.app{
  margin: 0;
  border: 0;
  padding: 0;
  margin-top: 8vh;
}

/* left Section */
.sec1 {
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
  padding-left: 7vh;
  padding-top:5vh;
  background-color: #000000;
  color: #fff;
  flex-direction: column;
  height: 92vh;
  margin-bottom: -4vh;
  overflow-y: scroll;
}

.sec1::-webkit-scrollbar {
  width: 6px; 
  background-color: black; /* Background of the scrollbar track */
}

.sec1::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 158); /* The actual scroll thumb */
  border-radius: 10px; 
  padding-right: 2px;
}

/* Featured Section */
.featured-section {
  margin-bottom: 20px;
}

.featured-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10vh;
}

.featured-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color1);
}

.play-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.play-button:hover {
  background-color: #8d8d8d;
}

.featured-details {
  padding-left:3vh ;
  gap: 1vh;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.featured-info {
  /* font-size: 1rem; */
  color: #ddd;
  gap: 1vh;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.featured-info-txt{
  border-radius: 13px;
  color: var(--color1);
  padding: 0.3vh 1vh;
  border: solid 1px var(--color1);

}

/* Find Song Section */
.find-song-section {
  margin-bottom: 20px;
}

.find-song-header {
  font-size: 1.25rem;
  font-weight: bold;
  color:  var(--color1);
  margin-bottom: 10px;
}

.song-search-input {
  margin-left: 3vh;
  padding-left: 3vh;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 75%;
  /* padding: 8px 12px; */
  border-radius: 10px;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid rgb(66, 66, 66);
}

.song-search-input:focus {
  outline: none;
  border-color: var(--highlight-color);
}

.search-icon {
  cursor: pointer;
  margin-left: -40px;
  transition: transform 0.3s;
}

.search-icon:hover {
  transform: scale(1.1);
}

/* Customize Section */
.customize-section {
  margin-bottom: 20px;
}

.customize-header {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color1);
  margin-bottom: 10px;
}

label {
  font-size: 1rem;
  font-weight: bold;
  color: #ddd;
}
.option-group {
  margin-bottom: 20px;
}

.option-title {
  font-size: 1.1rem;
  font-weight: bold;
  color:  var(--color2);
  margin-bottom: 10px;
  padding-left: 3vh;
}

.option-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 3vh;
}


.option-button {
  padding: 8px;
  border: 1px solid  var(--cat-btn-txt);
  color: var(--cat-btn-txt);
  background-color: var(--cat-btn-bg);
  margin: 3px;
  border-radius: 15px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option-button.active {
  background-color:var(--cat-btn-a-bg) !important; /* Green background for active */
  color: var(--cat-btn-a-txt) !important;
}
.option-button:hover {
  background-color:var(--cat-btn-h-bg);
  color: var(--cat-btn-h-txt);
}

.get-button-container {
  margin-top: 20px;
  padding-left: 3vh;
}

.get-button {
  padding: 5px 10px;
  background-color:var(--color1) !important;  /* Blue background for the Get button */
  color: rgb(0, 0, 0) !important;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

/* Footer Section */
.footerlap {
  margin-top: 4vh;
  margin-bottom: 2vh;
  text-align: center;
}

.footerlap-text {
  font-size: 1.3em;
  color: #aaa;
}


.sec2{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec2div{
  margin-top: 5vh;
  background: linear-gradient(to bottom,rgb(105, 105, 105),rgb(18, 18, 18)); 
  color: aliceblue;
  border-radius: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sec2divnot{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding-left: 10vh;
  padding-right: 10vh;
  font-size: 1.5em;
  text-align: center;
}
.s2d0{
  display: flex;
  width: 100%;
  min-height: 20vh;
  padding: 4vh;
  padding-top: 3vh;

}
.s2d0t{
  font-size: 1.5em;
}
.s2d1{
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.067);
  border-radius: 40px;
  width: 40vh;
  height: 40vh;
}
.s2d2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 10vh;
  width: 80%;
  margin-top: 3vh;
  margin-bottom: 5vh;
  border-radius: 20px;
  background-color:var(--dynamic-color-1);
  transition: all 0.5s linear;
  
}
.s2d2btn{
  height: 40px ;
  width: 40px;
}
.s2d2btn:hover{
  color: rgba(175, 212, 231, 0.523);
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 var(--dynamic-color);
  }
  100% {
    box-shadow: 0 0 50px 100px var(--dynamic-color);
    opacity: 10%;
     /* added blur */
  }
  /* 70% {
    box-shadow: 0 0 100px 200px rgba(249, 27, 79, 0.15);
  }
  100% {
    box-shadow: 0 0 150px 300px rgba(249, 27, 79, 0.02);
  } */
}


.playbtn{
  color: rgb(169, 169, 169);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.14);
  border: none;
  outline: none;
  transition: 0.3s ease;
}
.playbtn:hover{
  scale: 1.3;
}
.playing-effect {
  animation: ripple 1s infinite;
}

.playicon{
  height: 60px;
  width: 60px;
}

